<!-- Página que mostra os créditos a todos os envolvidos -->

<!-- Utiliza o HTML layout.html como padrão, sendo passado por FLASK, utilizando Jinja2 -->
{% extends "layout.html" %}
{% block content %}
<h1><center>CRÉDITOS</center></h1>

<p>Desenvolvido por:</p>
<p>
    <li>Beatriz Ambrosio</li>
    <li>Matheus Germano Dos Santos</li>
    <li>Renato Uccella</li>
</p>
<p>Projeto desenvolvido para o Campinas Tech Talents, trilha Python.</p>

<p>
    Facilitador:
    Jeferson Leal
</p>
{% endblock content %}