<!-- Adição de Pessoas -->

<!-- Utiliza o HTML layout.html como padrão, sendo passado por FLASK, utilizando Jinja2 -->
{% extends "layout.html" %}
{% block content %}

<h1><center>CADASTRO DE PESSOA</center></h1>

<!-- Checa por mensagens flash -->
{% for category, message in get_flashed_messages(with_categories = true) %}
<center>
   <div class="alert alert-danger erro">
      {{ message }}
   </div>
</center>
{% endfor %}

<!-- Formulário para receber os inputs do usuário -->
<p></p>
<div class= "btn-group">
   <form action="{{ request.path }}" method="post">
      
      <label for="name">Nome</label>
      <br><input type="text" name="name" placeholder="Name" /><br>

      <label for="email">E-mail</label>
      <br><input type="text" name="email" placeholder="Email" /><br>

      <label for="phone">Telefone</label>
      <br><input type="text" name="phone" placeholder="Telefone" /><br>

      <label for="birth">Data de Nascimento</label>
      <br><input type="date" name="birth" placeholder="Birth" /><br>
      
      <br><input class="button" type="submit" value="Enviar"/>
   </form>

<br>
{% endblock content %}